# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [1]:
def add_two(x):
    return x+2
print(add_two)
add_two

<function add_two at 0x1088e5800>

In [2]:
# lambda param: one-line function
lambda x: x+2

In [3]:
#can't call... not saved to variable.
print(lambda x: x+2)

<function <lambda> at 0x1088e65c0>

In [4]:
#because it's saved to var can call it
add_two(10)

12

In [5]:
# IIFE - Immediately Invoked Function Expression
# Execute a lambda function immediately after defining the function
# Syntax: (lambda param: expression)(arg)
(lambda x: x+2)(10)

12

#### Saving to a Variable

In [7]:
num = 25

num_plus_two = (lambda x: x+2)(num)

print(num_plus_two)

27

In [8]:
named_lambda = lambda y: y**2
print(named_lambda)

<function <lambda> at 0x1088e6660>

In [9]:
named_lambda(5)

25

#### Multiple Inputs

In [10]:
# Syntax: lambda param1, param2, etc: expression
def multiply(x,y,z):
    return x*y*z
multiply(10,20,2)

400

In [11]:
# As an IIFE - (lambda param1, param2, etc: expression)(arg1, arg2, etc.)
lambda x,y,z: x*y*z

In [12]:
# As an IIFE - (lambda param1, param2, etc: expression)(arg1, arg2, etc.)
(lambda x,y,z: x*y*z)(2,3,4)

24

In [14]:
def accept_args(*args):
    return args
accept_args(1,2,3,4)

(1, 2, 3, 4)

In [16]:
(lambda *args: args)('a', 'b', 'c')

('a', 'b', 'c')

In [17]:
def accept_kwargs(**kwargs):
    return kwargs
accept_kwargs(name="brian", age=99, city='chicago')

{'name': 'brian', 'age': 99, 'city': 'chicago'}

In [18]:
(lambda **kwargs: kwargs)(name="brian", age=99, city='chicago')

{'name': 'brian', 'age': 99, 'city': 'chicago'}

In [20]:
def get_evens(nums):
    output=[]
    for num in nums:
        if num %2 ==0:
            output.append(num)
    return output
get_evens([1,2,3,4,5,6,7,8,9])

[2, 4, 6, 8]

In [21]:
#need list comprehension
(lambda nums: [num for num in nums if num%2==0])([5,10,20,15,30])

[10, 20, 30]

#### Passing a Function into a Function

In [25]:
def apply_to_each(a_list, func):
    """
    print the return value of function func applied to very element in a_list
    a_list -> list of elements to execute funtion func on
    f -> Function to execute
    """
    for element in a_list:
        f_return = func(element)
        print(f_return)

In [26]:
def get_first_letter(string):
    return string[0]

In [27]:
list_of_seasons = ['Winter', 'Spring', 'Summer', 'Fall']

In [28]:
apply_to_each(list_of_seasons, get_first_letter)

W
S
S
F

In [29]:
def reverse_string(string):
    return string[::-1]

In [30]:
apply_to_each(list_of_seasons, reverse_string)

retniW
gnirpS
remmuS
llaF

#### Passing a Lambda into a Function

In [31]:
# Call the apply_to_each function, pass in a lambda function as f argument

apply_to_each(list_of_seasons, lambda season: season.upper())

WINTER
SPRING
SUMMER
FALL

In [32]:
apply_to_each([5,10,15,20,25,30], lambda num: num**2 if num %2 ==0 else num*2)

10
100
30
400
50
900

In [33]:
def double_or_square(num):
    if num%2==0:
        return num**2
    else:
        return num *2
apply_to_each([5,10,15,20,25,30], double_or_square)

10
100
30
400
50
900

#### Returning a Function from a Function

In [37]:
def my_outer_function(name):
    print(f"Hello {name}")
    
    #define a function - will be scoped to my_outer-function
    def my_inner_function():
        city='Chicago'
        print(f"this is the inner fxn {name} from {city}")
              
    #execute inner function
    my_inner_function()
    
    
            
print(my_outer_function)
my_outer_function

<function my_outer_function at 0x1089637e0>

In [38]:
my_outer_function('Brian')

Hello Brian
this is the inner fxn Brian from Chicago

In [39]:
#scoped within outer functoin, can't access unless in that fxn. 
my_inner_function()

NameError: name 'my_inner_function' is not defined

In [41]:
my_outer_return = my_outer_function('Sarah')

Hello Sarah
this is the inner fxn Sarah from Chicago

In [42]:
print(my_outer_return)

None

In [43]:
def my_outer_function2(name):
    print(f"Hello {name}")
    
    #define a function - will be scoped to my_outer-function
    def my_inner_function():
        city='Chicago'
        print(f"this is the inner fxn {name} from {city}")
              
    #return inner function
    return my_inner_function
print(my_outer_function2)
my_outer_function2

<function my_outer_function2 at 0x109568cc0>

In [45]:
my_outer_return2 = my_outer_function2('Brian')
print(my_outer_return2)

Hello Brian
<function my_outer_function2.<locals>.my_inner_function at 0x109571da0>

In [46]:
print(my_outer_return2)

<function my_outer_function2.<locals>.my_inner_function at 0x109571da0>

In [47]:
def create_multiplier(num):
    def multiply(x):
        return num*x
    return multiply
five_times = create_multiplier(5)
print(five_times)

<function create_multiplier.<locals>.multiply at 0x109571ee0>

In [48]:
five_times(10)

50

#### Returning a Lambda from a Function

In [51]:
def new_multiplier(num):
    return lambda x: num*x
four_times = new_multiplier(4)
print(four_times)
four_times

<function new_multiplier.<locals>.<lambda> at 0x109572840>

In [52]:
print(four_times(10))

40

#### If Statements within Lambdas

In [54]:
def double_or_square(num):
    if num%2==0:
        return num**2
    else:
        return num *2
print(double_or_square(20))
print(double_or_square(5))

400
10

In [55]:
# Ternary: value_if_true if condition else value_if_false
def double_or_square(num):
    return num**2 if num %2 == 0 else num * 2
print(double_or_square(20))
print(double_or_square(5))

400
10

In [59]:
# As an IIFE
(lambda num: num**2 if num%2==0 else num*2)(6)

36

In [58]:
(lambda num: num**2 if num%2==0 else num*2)(9)

18

#### In-Class Exercise #1 <br>
<p>Write a lambda function that takes in three arguments <code>a</code>,<code>b</code>,<code>c</code> and returns the product of <code>a</code> and the difference of <code>b</code> and <code>c</code></p>

In [60]:
# Example 1 
# a = 10, b = 5, c = 2
# Output: 30
(lambda a,b,c: a*(b-c))(10,5,2)
# Example 2
# a = 20, b = 10, c = 5
# Output: 100

30

In [61]:
(lambda a,b,c: a*(b-c))(20,10,5)

100

In [62]:
import re

In [68]:
def max_consec(nums):
    str_nums = ''.join([str(num) for num in nums])
    ones = re.compile('1+')
    one_groups = ones.findall(str_nums)
    return max([len(ones) for ones in one_groups])
print(max_consec([1,1,1,1,0,0,1,0,1,0,1]))

4

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

In [69]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

#### Syntax

In [71]:
#function that we want to apply to each element in an iterable

def squared_minus_two(num):
    return num**2 -2
nums = [3,5,6,3,7,8]
#Create an empty list
new_nums = []
#loop over the list
for num in nums:
    #appply the fxn to each element
    new_num = squared_minus_two(num)
    #append the new num to new list
    new_nums.append(new_num)
print(new_nums)

[7, 23, 34, 7, 47, 62]

In [73]:
# map(function, *iterables -> List, Tuple, String, Set, Dictionary, etc)
list(map(squared_minus_two, nums))

[7, 23, 34, 7, 47, 62]

In [74]:
my_map_obj = map(squared_minus_two, nums)
print(my_map_obj)

<map object at 0x108a3abc0>

In [75]:
help(next)

Help on built-in function next in module builtins:

next(...)
    next(iterator[, default])

    Return the next item from the iterator. If default is given and the iterator
    is exhausted, it is returned instead of raising StopIteration.

In [78]:
next(my_map_obj) #each time it runs it produces a different iteration

34

In [79]:
my_map_obj = map(squared_minus_two, nums)
for num in my_map_obj:
    print(num)

7
23
34
7
47
62

In [83]:
#will forget if try to run again... memory thing
for num in my_map_obj:
    print(num)

In [86]:


x_values = [1,2,3,4,5]
y_values = [10,20,30,40,50]

def multiply(x,y):
    print(f"x={x}, y={y}")
    return x*y
list(map(multiply, x_values, y_values))

x=1, y=10
x=2, y=20
x=3, y=30
x=4, y=40
x=5, y=50

[10, 40, 90, 160, 250]

In [87]:
x_values2 = [1,2,3,4,5,6,7]
y_values2 = [10,20,30,40]

list(map(multiply, x_values2, y_values2))

x=1, y=10
x=2, y=20
x=3, y=30
x=4, y=40

[10, 40, 90, 160]

In [88]:
nums_mult = []

shorter = len(x_values2) if len(x_values2) < len(y_values2) else len(y_values2)

for i in range(shorter):
    nums_mult.append(multiply(x_values2[i], y_values[i]))
print(nums_mult)

x=1, y=10
x=2, y=20
x=3, y=30
x=4, y=40
[10, 40, 90, 160]

In [89]:
def hello_func(element):
    return 'Hello'

my_list = ['a','b','c','d']

list(map(hello_func, my_list))

#return value of function goes into new list

['Hello', 'Hello', 'Hello', 'Hello']

#### Using Lambda's with Map

In [91]:
letters = ['a','b','c','d']

upper_letters = list(map(lambda l: l.upper(), letters))
print(upper_letters)

['A', 'B', 'C', 'D']

In [92]:
nums = [1,2,3,4,5,6,7]

list(map(lambda x: x**3, nums))

[1, 8, 27, 64, 125, 216, 343]

In [93]:
for val in map(lambda x:x**2,nums):
    print(val)

1
4
9
16
25
36
49

In [94]:
alphabet = 'abcdgeofigekaldks'

unicode = list(map(lambda letter: ord(letter), alphabet))
print(unicode)

[97, 98, 99, 100, 103, 101, 111, 102, 105, 103, 101, 107, 97, 108, 100, 107, 115]

In [96]:
vowels = ['a','e','i','o','u']

upper_vowles = tuple(map(lambda v: v.upper(), vowels))
print(upper_vowles)

('A', 'E', 'I', 'O', 'U')

In [97]:
squares = list(map(lambda x: x**2, range(10,21)))
print(squares)

[100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number if it is even and halve it if it is odd</p>

In [100]:
numbers = range(1,11)

# [0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]
variab = list(map(lambda x: x*2 if x%2==0 else x/2, numbers))
print(variab)

[0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

In [101]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

#### Syntax

In [102]:
names = ['Bob', 'Billy', 'Alex', 'Barbara', 'Amy', 'Andy', 'Catherine', 'Cameron']

def starts_with_a(name):
    return name[0].upper() == 'A'
a_names_map = list(map(starts_with_a, names))
print(a_names_map)

[False, False, True, False, True, True, False, False]

In [103]:
#if True, we'll keep ya, if False, you're outa here
# Syntax: filter(function_to_apply, iterable -> List,Tuple,Set,Dict,String,etc)
a_names_filter = list(filter(starts_with_a, names))
print(a_names_filter)

['Alex', 'Amy', 'Andy']

In [104]:
nums = [num for num in range(1,11)]

def remainder(num):
    #will return remainder of num after dividing by 3
    return num%3

remainder(10)

1

In [105]:
nums_map = list(map(remainder, nums))
print(nums_map)

[1, 2, 0, 1, 2, 0, 1, 2, 0, 1]

In [107]:
#works b/c looking at return value of function and truthiness, 

nums_filter = list(filter(remainder, nums))
print(nums_filter)

[1, 2, 4, 5, 7, 8, 10]

In [110]:
for i in range(-5,6):
    print(i, bool(i))

-5 True
-4 True
-3 True
-2 True
-1 True
0 False
1 True
2 True
3 True
4 True
5 True

#### Using Lambda's with Filter()

In [111]:
print(names)

['Bob', 'Billy', 'Alex', 'Barbara', 'Amy', 'Andy', 'Catherine', 'Cameron']

In [114]:
b_names = list(filter(lambda name: name[0].upper() == 'B', names))
print(b_names)

['Bob', 'Billy', 'Barbara']

In [116]:
sentence = 'I live at 123 Real Street, City, State, 58583. My number is (555) 2343'

digits = list(filter(lambda char: char.isdigit(), sentence))
print(digits)

['1', '2', '3', '5', '8', '5', '8', '3', '5', '5', '5', '2', '3', '4', '3']

#### In-Class Exercise #3 <br>
<p>Write a function that takes in a list of cities as strings and returns a list of cities with at least two words in the name</p>

In [137]:
import re

cities = ['Chicago', 'Los Angeles', 'New York City', 'Miami', 'Oklahoma City', 'Baton Rouge', 'Boston', 'Denver']

pattern = re.compile(r'\s+')


ex3 = list(filter(lambda x:  pattern.search(x), cities))

print(ex3)

['Los Angeles', 'New York City', 'Oklahoma City', 'Baton Rouge']

In [134]:
def multi_word_city(city):
    #determine whether the city has 2 or more words
    return len(city.split()) >= 2
#multi_word_city('New York City')
multi_cities = list(filter(multi_word_city, cities))
print(multi_cities)

['Los Angeles', 'New York City', 'Oklahoma City', 'Baton Rouge']

In [135]:
cities2 = list(filter(lambda city: len(city.split()) >=2, cities))
print(cities2)

['Los Angeles', 'New York City', 'Oklahoma City', 'Baton Rouge']

In [136]:
print(list(filter(lambda city: ' ' in city, cities)))

['Los Angeles', 'New York City', 'Oklahoma City', 'Baton Rouge']

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [138]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [141]:
from functools import reduce
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, iterable[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence
    or iterable, from left to right, so as to reduce the iterable to a single
    value.  For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the iterable in the calculation, and serves as a default when the
    iterable is empty.

In [142]:
def add_nums(x,y):
    print('='*20)
    print(f"x:{x}")
    print(f"y:{y}")
    print(f"returns: {x+y}")
    return x+y

In [144]:
result_add = reduce(add_nums, [1,2,3,4,5])
print(result_add)

====================
x:1
y:2
returns: 3
====================
x:3
y:3
returns: 6
====================
x:6
y:4
returns: 10
====================
x:10
y:5
returns: 15
15

In [145]:
total = 0
for num in [1,2,3,4,5]:
    total +=num
print(total)

15

In [148]:
def find_max(a,b):
    print('='*20)
    print(f"a:{a}")
    print(f"b: {b}")
    print(f"returns {a if a > b else b}")
    return a if a > b else b

In [149]:
from random import randint
nums = [randint(1,50) for i in range(10)]
print(nums)

[14, 31, 28, 31, 15, 50, 11, 28, 1, 30]

In [150]:
max_val = reduce(find_max, nums)

====================
a:14
b: 31
returns 31
====================
a:31
b: 28
returns 31
====================
a:31
b: 31
returns 31
====================
a:31
b: 15
returns 31
====================
a:31
b: 50
returns 50
====================
a:50
b: 11
returns 50
====================
a:50
b: 28
returns 50
====================
a:50
b: 1
returns 50
====================
a:50
b: 30
returns 50

In [151]:
max_val = nums[0]
for num in nums:
    if num > max_val:
        max_val = num
        print(max_val)

31
50

#### Using Lambda's with Reduce()

In [152]:
print(nums)

[14, 31, 28, 31, 15, 50, 11, 28, 1, 30]

In [153]:
total = reduce(lambda num1, num2: num1+num2, nums)
print(total)

239

In [154]:
max_val = reduce(lambda a,b: a if a>b else b, nums)
print(max_val)

50

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

In [155]:
nums = [2, 4, 6, 8, 10]

ex4 = reduce(lambda a,b: a*b, nums)
print(ex4)
# Output: 3840

3840

In [158]:
prod = 1
for num in nums:
    prod *= num
print(prod)

3840

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

In [159]:
def capitalize(name):
    # Takes in a name, upper case the first letter and lower case the rest
    return name[0].upper() + name[1:].lower()

def full_name(first, last):
    # take in a first name, capitalize the first name, take in a last name, capitalize the last name and 
    # then returns the concatenated string of first + space + last
    return capitalize(first) + ' ' + capitalize(last)


def greet_person(first_name, last_name, day_of_week):
    person_full_name = full_name(first_name, last_name)
    print(f"Hello {person_full_name}, it sure is beautiful on this {capitalize(day_of_week)}")
    
greet_person('bRIaN', 'stANtOn', 'tUEsdaY')

Hello Brian Stanton, it sure is beautiful on this Tuesday

In [162]:
import time

def func_one():
    print("Function One Started")
    time.sleep(5)
    print("Function One Ended")
    
    
def func_two():
    print("Function Two Started")
    func_one()
    print("Function Two Ended")
    
    
func_two()

Function Two Started
Function One Started
Function One Ended
Function Two Ended

##### Implementing a Base Case

In [163]:
#RUN THROUGH PYTHON TUTOR - CONFUSING AF

def add_nums(num):
    #Implement a Base Case => point when fxn ends
    if num <=1:
        return num
    else:
        #Add the num to the return of the the add_nums fxn with num - 1
        return num+add_nums(num-1)
add_nums(5)

15

In [164]:
def add_nums(num):
    #Implement a Base Case => point when fxn ends
    if num <=1:
        print(f"add_nums ({num}) = {num}")
        return num
    else:
        #Add the num to the return of the the add_nums fxn with num - 1
        print(f"add_nums ({num}) + add_nums({num-1})")
        return num+add_nums(num-1)
add_nums(5)

add_nums (5) + add_nums(4)
add_nums (4) + add_nums(3)
add_nums (3) + add_nums(2)
add_nums (2) + add_nums(1)
add_nums (1) = 1

15

In [165]:
#run again ... weird
def is_even(number):
    if number ==1:
        return False
    elif number ==0:
        return True
    else:
        return is_even(number-2)
is_even(20)

True

In [166]:
#can also be used as a way of looping

def loop(a_list):
    if a_list:
        print(a_list[0])
        loop(a_list[1:])
loop(['red','orange','yellow','green','blue','red'])

red
orange
yellow
green
blue
red

In [ ]:
#recursion is a function that calls itself.

#### Writing a Factorial Function

In [167]:
# 5! = 5 * 4!
# 4! = 4 * 3!
# ...
# 1! = 1

#factorial(x) = x * factorial(x-1)

def factorial(num):
    if num <=1:
        return 1
    else:
        return num * factorial(num-1)
factorial(5)

120

In [ ]:
#WILL BREAK W/OUT A BASE CASE!

# def factorial(num):
#     return num * factorial(num -1)

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

In [168]:
lengths = map(len, ['Brian', 'Stanton', 'Coding Temple', 'Instructor'])

print(lengths)

<map object at 0x109e7bfa0>

In [169]:
lengths[0]

TypeError: 'map' object is not subscriptable

In [170]:
for item in lengths:
    print(item)

5
7
13
10

In [171]:
help(iter) #duner method __iter__

Help on built-in function iter in module builtins:

iter(...)
    iter(iterable) -> iterator
    iter(callable, sentinel) -> iterator

    Get an iterator from an object.  In the first form, the argument must
    supply its own iterator, or be a sequence.
    In the second form, the callable is called until it returns the sentinel.

In [172]:
help(next)

Help on built-in function next in module builtins:

next(...)
    next(iterator[, default])

    Return the next item from the iterator. If default is given and the iterator
    is exhausted, it is returned instead of raising StopIteration.

In [175]:
greetings_list = ['hi', 'hello', 'aloha', 'hola', '']

list_iter = iter(greetings_list)
print(list_iter)

<list_iterator object at 0x109e7bac0>

In [177]:
next(list_iter)

'hello'

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [184]:
def my_range_iter(start,stop,step=1):
    while start < stop:
        yield start
        start += step
        
my_gen = my_range_iter(0,10)
print(my_gen)

<generator object my_range_iter at 0x109a11700>

In [195]:
next(my_gen)

StopIteration:

In [196]:
for yielded_val in my_range_iter(10,20):
    print(f"The value that is yielded as we loop: {yielded_val}")

The value that is yielded as we loop: 10
The value that is yielded as we loop: 11
The value that is yielded as we loop: 12
The value that is yielded as we loop: 13
The value that is yielded as we loop: 14
The value that is yielded as we loop: 15
The value that is yielded as we loop: 16
The value that is yielded as we loop: 17
The value that is yielded as we loop: 18
The value that is yielded as we loop: 19

In [197]:
for val in my_range_iter(0,1000,50):
    print(val)

0
50
100
150
200
250
300
350
400
450
500
550
600
650
700
750
800
850
900
950

In [207]:
def read_file(filename):
    with open(filename) as large_file:
        for line in large_file:
            yield line
            
file = read_file('whiteboard.py')

In [209]:
for line in file:
    print(line, end='')

In [202]:
next(file)

'# If there is no unique character, return None.\n'

In [210]:
for line in read_file('test.py'):
    print(line, end='')

from unittest import TestCase, main

from whiteboard import solution

class MatchTestCase(TestCase):
    def test_example_one(self):
        self.assertEqual(solution("test"), "e")
    def test_example_two(self):
        self.assertEqual(solution("teeter"), "r")
    def test_example_three(self):
        self.assertEqual(solution("trend"),"t" )
    def test_example_four(self):
        self.assertEqual(solution("aabbcc"),None)



if __name__ == '__main__':
    main()

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [241]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York", "DC"]

[' ', ' ', 'San Diego', '  ', 'New York']

In [246]:
def ex3(city):
    return len(city.split()) >= 1
multi_cities = list(filter(ex3, places))
print(multi_cities)

['Argentina', 'San Diego', 'Boston', 'New York', 'DC']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name "case insensitive"...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [255]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield", "David hassELHOFF", "Gary A.J. Bernstein"]


result = sorted(author, key=lambda x: x.split()[-1].lower())

print(result)

['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']

In [211]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [212]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [215]:
cities = ['Chicago', 'New York City', 'Miami']
          
cities.sort(key=len)
cities2 = sorted(cities, key=len)
print(cities)

['Miami', 'Chicago', 'New York City']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]
`

In [261]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angeles",44),("Miami",29)]


exercise3 = list(map(lambda x: (x[0], (x[1] * 9/5) + 32), places))
print(exercise3)

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

```
Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8
```

5

In [1]:
n = 6

def fibo(n):
   if n <= 2:
       return n
   else:
       return(fibo(n-1) + fibo(n-2))




if n <= 0:
    print("learned the hard way")
else:
   
   for i in range(n):
        print(f"Iteration {i}: {fibo(i)}")

Iteration 0: 0
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8

### Exercise #5<br>
<p>Create a generator that takes a number argument and yields that number squared down to zero, then call the generator and iterate through and print the result.</p>

In [2]:
def generator(num):
    while num >=0:
        yield num**2
        num-=1




for i in generator(10):
    print(i)
# 100
# 81
# 64
# 49
# 36
# 25
# 16
# 9
# 4
# 2
# 1
# 0

100
81
64
49
36
25
16
9
4
1
0